body {
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #fff;
}

.date-picker {
  padding: 12px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #dae1e3;
  background-color: #fff;
  color: #1d1d1f;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  outline: none;
  transition: all 0.7s ease-in-out;
}

.date-picker:focus {
  outline: 1px solid #0d6efd;
}
