@keyframes rotateClock {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate-clock {
  animation: rotateClock 2s infinite;
}
